body {
    margin: 0;
}

#LoadingScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #222;
    color: dodgerblue;
    gap: 1em;
}

#ModelInfo {
    position: absolute;
    bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 0.5em;
}

#ModelInfo .title {
    font-weight: bold;
    text-decoration: underline;
    color: darkgoldenrod;
    font-size: 1.5em;
}

#ModelInfo .detail {
    color: white;
}
